@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "~bootstrap/dist/css/bootstrap.css";
:root {
  --color1: #dfe1e3;
  --Primary: #0771de;
  --Secondary: #8f9bba;
  --Secondary-lighter: #e0e5f2;
  --font-color: #92a1ad;
  --border:#B2A6A6;
  --input-background:#F4EEEE;
  --date-picker-color :rgba(7, 113, 222, 0.10);
}
body {
  background-color: var(--color1);
}
.btn-balck {
  border-radius: 9px;
  background: #1c1c28 !important;
  color: var(--Secondary-lighter) !important;
}

.w-30{
  width: 30% !important;
}
.nowrap{
  white-space: nowrap;
}
.pointer{
  cursor: pointer;
}
input{
  border-radius: 9px !important;
  border: 1px solid var(--border) !important;
  background: var(--input-background) !important;
}
.form-control:focus{
  box-shadow: 0 0 0 0.25rem rgb(224 222 222 / 63%);
}
.nb-theme-default .nb-timepicker-container .list-item.selected{
  color: #000 !important;
  background-color: var(--date-picker-color) !important;
}
nb-card.nb-timepicker-container.supports-scrollbar-theming{
 div{
  font-size: 12px !important;
  font-weight: 100 !important;
 }
}
[dir='ltr'] .counter-icon{
  transform: translate(110%, 0%) !important;
  button{
    width: 83%;
    height: 27px;
  }
}
 [dir='ltr'] .counter-icon-2{
  transform: translate(-90%, 0%) !important;
  button{
    width: 83%;
    height: 27px;
  }
}
@media screen and (max-width:576px) {
  .nb-theme-default nb-layout-header nav{
    height: 100px !important;
  }
}
